*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/****** CONTAINER FLEX ******/

.container-flex
{

    display: flex;
    height: 100vh;
    flex-direction: column;
}

/****** MAIN ******/

main
{   
    flex-grow: 1;
    display: flex;

}
/* sidebar */
aside
{
    flex-basis: 70px;
    background-color: black;
}
/* main page */
.main-page
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
/* header */
header
{
    flex-basis: 100px;
    background-color: #080b12;
}
/* main-content */
.main-content
{
    flex-grow: 1;
    background-color: #141922;
}
/****** FOOTER ******/

footer
{
    flex-basis: 100px;
    background-color: #282828;

}