*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container-flex
{

    display: flex;
    height: 100vh;
    flex-direction: column;
}
/******** UTILITY *******/

.m-15
{
    margin: 15px;
}
.clearfix::after
{
    content: '';
    display: table;
    clear: both;
}
/******** HEADER *******/
header
{
    flex-basis: 100px;
    background-color: #080b12;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
}
/******** FOOTER *******/
footer
{
    flex-basis: 100px;
    background-color: #282828;
}
/******** MAIN *******/
main{

    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
/* asidebar */
aside
{
    flex-basis: 70px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.aside-buttons
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
#profile
{
    border-radius: 50%;
    background-color: #808080;
    display: block;
    width: 25px;
    height: 25px;
}
/* main content */
.main-content
{
    flex-grow: 1;
    background-color: #141922;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
/* main-content hearder */
header button
{
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #080b12;
    padding: 10px 25px;
    font-size: 14px;
}
/* navbar */

nav ul{
    display: flex;
    list-style-type: none;
    color: #7d7f84;
    font-weight: bold;
    flex-wrap: wrap;
    justify-content: center;
}
/* main content container padding left/padding right 20px */
.main-content-container
{
    padding: 0 20px;
}
.main-content-container h1
{
    color: white;
    font-size: 20px;
}
/* titles */
